* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
 
.card-header{
    margin-bottom: 150px;
    width: 100%;
    text-align: center;
    display: flex;
}

.hide {
    display: none;
}
.highScore {
    margin-left: 15px;
    text-decoration: none;
    color: black;
   
}
.timer {
   
    margin-right: 15px;
    margin-left: 85%;
}
.card-body  {
    text-align: center;
    border: thin solid black;
   margin-left: 25%;
   margin-right: 25%;
   padding: 100px;
}
.intro {
    margin-bottom: 15px;
    background-color: peachpuff;
}
.card-title {
    margin-bottom: 20px;
    border-bottom: thin solid black;
}
.card-text {
    text-align: left;
    padding-left: 15px;
}
.questions-answers {
    background-color: peachpuff;
}
.questions {
    margin-bottom: 15px ;
    font-size: large;
    font-weight: bold;
}
/**.answersList li {
padding: 15px;
}**/
.startButton {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: mintcream;
    border-radius: 15px;
}

.answersList {
    list-style: none;
    /**padding-right: 300px;**/
}
.answersList li {
   
    margin-top: 15px;
    height: 75px;
    width: auto; 
    text-align: left;
}
.answersList button {
    padding: 10px;
    border: thin solid black;
    margin-right: 15px;
    border-radius: 30px;
    
}
.quizDone {
    background-color: peachpuff;
    margin-top: 15px;
}
.input-group {
    background-color: peachpuff;
    text-align: center;
    margin-top: 15px;
    
}
.highScoresListCard {
    background-color: peachpuff;
    margin-top: 15px;
}
.highScoresListCard ul {
    padding: auto;
    margin-bottom: 15px;

}