* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
 
.card-header{
    margin-bottom: 150px;
    width: 100%;
    text-align: center;
    display: flex;
}

.hide {
    display: none;
}
.highScore {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: medium;

   
}
.timer {
   
    margin-right: 15px;
    margin-left: 85%;
    color: black;
    font-size: medium;
}
.card-body  {
   text-align: center;
   border: thin solid black;
   margin-left: 25%;
   margin-right: 25%;
   padding: 100px;
   background-color: peachpuff;
   
}

.card-title {
    margin-bottom: 20px;
    
    font-size: xx-large;
    text-align: center;
    
} .questions-answers { /** I can't get any style to stick in divs after intro. I can effect the buttons and the h1 but not the card itself**/
   
    background-color: peachpuff;
border: thin solid black;
}
.card-title  .questionContent {
    
    text-align: center;
}
.card-text {
    text-align: left;
    padding-left: 15px;
}
/**.questions-answers {
    background-color: peachpuff;
    
}
.questions-answers .questionContent {
    border-bottom: black solid;
    text-align: center;
}
/**.questions {
    margin-bottom: 15px ;
    font-size: large;
    font-weight: bold;
}
/**.answersList li {
padding: 15px;
}**/

.startButton {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: mintcream;
    border-radius: 15px;
}
.answersList{
    margin-left: 475px;
    
}
.answersList button{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: mintcream;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}

/**.answersList {
    text-align: center;
    border: thin solid black;
   margin-left: 25%;
   margin-right: 25%;
   padding: 100px;
}
    

/**.answersList {
   
    margin-top: 15px;
    height: 75px;
    width: auto; 
    text-align: left;
}**/
/**.questions-answers {
    padding: 10px;
    border: thin solid black;
    margin-right: 15px;
    border-radius: 30px;
    text-align: left;
    
}
.quizDone {
    background-color: peachpuff;
    margin-top: 15px;
}
.input-group {
    background-color: peachpuff;
    text-align: center;
    margin-top: 15px;
    
}
.highScoresListCard {
    background-color: peachpuff;
    margin-top: 15px;
}
.highScoresListCard ul {
    padding: auto;
    margin-bottom: 15px;

}